@import "./vars";

.list-item {
    display: flex;
    flex-direction: row;
}

.info-block-colored {
    background-color: $color-info-block;
    color: white;
    padding-top: 3rem;
    padding-bottom: 3rem;

    h2 {
        color: white;
        margin: auto;
        text-align: center;
        font-size: var(--font-size-6-Xlarge);
        font-weight: var(--font-weight--heavy-title);
    }

    h3 {
        padding-bottom: 1rem;
        color: white;
        margin: auto;
        text-align: center;
        font-size: var(--font-size-5-large);
    }

    p {
        padding-top: 1rem;
        padding-bottom: 1.5rem;
        margin: auto;
        max-width: 50rem;
        text-align: center;
    }
    &__content-cta-btn {
        background-color: #fe5000 !important;
        color: white !important;
        text-transform: uppercase;
        font-weight: 600;
    }
    &__content-img-wrapper {
        max-width: 50rem;
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    &__content-img-block {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgb(117, 127, 152);
        width: 20rem;
    }
}

.info-block-white {
    background-color: white;
    padding-top: 3rem;
    padding-bottom: 1rem;

    h2 {
        text-align: center;
    }
    h3 {
        margin-top: 2rem;
        text-align: center;
        font-size: var(--font-size-5-large);
        font-weight: var(--font-weight--heavy-title);
    }
    p {
        margin: auto;
        margin-top: 1rem;
        max-width: 30rem;
        text-align: center;
        font-weight: var(--font-weight--bold);
    }
}

.info-block-hor-list {
    padding: 1rem 10rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    &__item {
        display: flex;
        max-width: 15rem;
        flex-direction: column;
        flex-wrap: wrap;
    }

    &__hor-item {
        display: flex;
        max-width: 25rem;
        flex-direction: row;
    }
}
